.btn {
    height: 30px;

    margin: 3px;

    background-color: #333;
    border: 1px solid #333;
    border-radius: 3px;

    color: white;

    cursor: pointer;
}

.btn:active{
    background-color: rgb(134, 19, 19);
}

.btn:hover {
    border-color: #fff ;
    border-width: 2px;
}